<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="UploadService_IUploadService">
                    <security mode="None"/>
                </binding>
                <binding name="UploadService_IUploadService1">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8890/UploadService.svc" binding="wsHttpBinding" bindingConfiguration="UploadService_IUploadService" contract="UploadService.IUploadService" name="UploadService_IUploadService">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8890/UploadService.svc" binding="wsHttpBinding" bindingConfiguration="UploadService_IUploadService1" contract="UploadService.IUploadService" name="UploadService_IUploadService1">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
