<div id="div_login">
    <div class="title">后台管理系统</div>
    <div class="login_main">
        <table>
            <tr>
                <td style="width: 100px; text-align: right;">
                    <label for="name">用户名：</label></td>
                <td style="width: 300px; text-align: left;">
                    <input type="text" id="name" value="" /></td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    <label for="pwd">密　码：</label></td>
                <td style="width: 300px; text-align: left;">
                    <input type="password" id="pwd" value="" onkeydown="if(event.keyCode=='13'){$('#btn_login').click();}" /></td>
            </tr>
            <tr style="height: 30px;">
                <td style="width: 100px; text-align: right;">
                    <label for="remenber">remenber：</label></td>
                <td style="width: 300px; text-align: left;">
                    <input style="display: block; width: 30px; height: 20px;" type="checkbox" id="remenber" value="1" /></td>
            </tr>
            <tr style="height: 30px;">
                <td style="width: 400px; text-align: right;" colspan="2"><a href="javascript:void(0);">忘记密码?</a></td>
            </tr>
            <tr>
                <td style="width: 400px; text-align: center;" colspan="2">
                    <button class="btn_login" id="btn_login">登录</button></td>
            </tr>
        </table>
    </div>
</div>
