@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{

    <link href="~/Css/Site/site.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            
        })
    </script>
}
<div class="site_main">
    <div class="site_head"></div>
    <div class="site_head_search">
        <img src="../ImageIcon/system.png" />
        <span><input type="text" name="name" value="" /></span>
    </div>
    <div class="site_head_nav">
        <div class="nav">
            <ul style="list-style:none;">
                <li><a href="#">首页</a></li>
                <li><a href="#">阿斯蒂芬</a></li>
                <li><a href="#">是豆腐干豆</a></li>
            </ul>
        </div>
    </div>
    <div class="site_body_left"></div>
    <div class="site_body_right"></div>
    <div class="site_foot">
        <p>© CopyRight 2002-2015, CHINAZ.COM, Inc.All Rights Reserved. 站长统计</p>

    </div>
</div>
