<?xml version="1.0" encoding="utf-8" ?>
<uploadConfig>
  <configInfo name="baseUpload">
    <domain>http://img.jsonyang.com</domain>
    <path>E:\Image\SiteImg</path>
    <pathFormat>\yyyy\MM\dd</pathFormat>
  </configInfo>

  <configInfo name="TestUpload">
    <domain>http://test.jsonyang.com</domain>
    <path>E:\Image\TestImg</path>
    <pathFormat>\yyyy\MM</pathFormat>
  </configInfo>
  
   <configInfo name="WeiXinUpload">
    <domain>http://wimg.jsonyang.com</domain>
    <path>E:\Image\WeiXinImg</path>
    <pathFormat>\yyyy\MM</pathFormat>
  </configInfo>
  
  <configInfo name="XiaoShuoUpload">
    <domain>http://xsimg.jsonyang.com</domain>
    <path>D:\Image\XiaoShuoImg</path>
    <pathFormat>\yyyy\MM\dd</pathFormat>
  </configInfo>
  
</uploadConfig>