<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UploadService_IUploadService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="UploadService_IUploadService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54655/UploadService.svc"
                binding="wsHttpBinding" bindingConfiguration="UploadService_IUploadService"
                contract="UploadService.IUploadService" name="UploadService_IUploadService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:54655/UploadService.svc/Stream"
                binding="basicHttpBinding" bindingConfiguration="UploadService_IUploadService1"
                contract="UploadService.IUploadService" name="UploadService_IUploadService1" />
        </client>
    </system.serviceModel>
</configuration>