<?xml version="1.0" encoding="utf-8" ?>
<!--调用端配置 示例-->
<serviceConfigInfos>
  <serviceConfigInfo>
    <serviceName>SiteService</serviceName>
    <serviceUrl>http://127.0.0.1:9000/SiteService.svc</serviceUrl>
    <SecurityMode>None</SecurityMode>
    <servicespace>http://liaoyang.service.com</servicespace>
  </serviceConfigInfo>
</serviceConfigInfos>