<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="SiteBinding_IYuYangService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8896/YuYangService.svc" binding="wsHttpBinding"
                bindingConfiguration="SiteBinding_IYuYangService" contract="YuYangServices.IYuYangService"
                name="SiteBinding_IYuYangService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>