<?xml version="1.0" encoding="utf-8" ?>
<memcachedServerList>
  
  <memcachedServer>
    <serverIp>127.0.0.1:11211</serverIp><!--服务器地址和默认端口-->
    <weight>1</weight><!--权重-->
  </memcachedServer>

  <memcachedServer>
    <serverIp>127.0.0.2:11211</serverIp>
    <!--服务器地址和默认端口-->
    <weight>1</weight>
    <!--权重-->
  </memcachedServer>

</memcachedServerList>