@{
    ViewBag.Title = "宇扬网_首页";
    ViewBag.keywords = "宇扬网，有你想要的";
    ViewBag.description = "宇扬网，综合门户网站，自由发布平台，有你想要的，看你想看的";

    Layout = "~/Views/Shared/_Layout_T1.cshtml";
}

    <div id="main-content">
        <div class="primary">
            <div class="slider-box-hover">
                <div class="slider-wrapper">

                    <div id="slider" class="nivoSlider">
                                <a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">
                                    <img src="http://img.jsonyang.com/2017/08/14/b1f03e2c-ea31-41_700x10000x1.jpg" alt="" title="#slide-caption-1" />
                                </a>
                                <a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">
                                    <img src="http://img.jsonyang.com/2017/08/18/66f118cf-ba99-43_700x10000x1.jpg" alt="" title="#slide-caption-2" />
                                </a>
                                <a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">
                                    <img src="http://img.jsonyang.com/2017/08/14/5ee9ead9-26bb-4a_700x10000x1.jpg" alt="" title="#slide-caption-3" />
                                </a>
                                <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">
                                    <img src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" alt="" title="#slide-caption-4" />
                                </a>
                                <a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">
                                    <img src="http://img.jsonyang.com/2017/08/14/e1f5424b-b2b2-44_700x10000x1.jpg" alt="" title="#slide-caption-5" />
                                </a>

                    </div>
                            <div id="slide-caption-1" class="nivo-html-caption">
                                <header>
                                    <h1><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></h1>
                                </header>
                                <p>中共中央政治局8月31日召开会议，研究中国共产党第十八届中央委员会第七次全体会议和中国共产党第十九次全国代表大会筹备工作。中共中央总书记习近平主持会议。 会议决定，中国共产党第十八届中央委员会第七次全</p>
                            </div>
                            <div id="slide-caption-2" class="nivo-html-caption">
                                <header>
                                    <h1><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真相</a></h1>
                                </header>
                                <p>区委书记遭富豪殴打5天后已经上班 背后真相是啥</p>
                            </div>
                            <div id="slide-caption-3" class="nivo-html-caption">
                                <header>
                                    <h1><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过的这不平凡五年</a></h1>
                                </header>
                                <p>习近平带领我们走过的这不平凡五年</p>
                            </div>
                            <div id="slide-caption-4" class="nivo-html-caption">
                                <header>
                                    <h1><a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">川西长途试力帆X80</a></h1>
                                </header>
                                <p>顶配大七座不到15万 川西长途试力帆X80</p>
                            </div>
                            <div id="slide-caption-5" class="nivo-html-caption">
                                <header>
                                    <h1><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></h1>
                                </header>
                                <p>英国女王计划95岁退休</p>
                            </div>

                </div><!--end:slider-wrapper-->
            </div><!--box-hover-->
            <section id="main-section">
                <header class="entry-header">
                    <div class="header-inner">
                        <a href="javascript:void(0)">最近资讯</a>
                    </div><!--header-inner-->
                </header>
                <!--左侧最新图文 244*117 -->
                    <div class="article-wrap">
                        <article class="entry-item box-hover clearfix">
                            <a href="/detail/51aa82c9.html" target="_blank" title="娇艳大奶美女">
                                <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/24/d3f324d6-90f0-43_700x10000x1.jpg" alt="">
                            </a>
                            <div class="entry-content">
                                <h3 class="entry-title"><a href="#">娇艳大奶美女</a></h3>
                                <p>火辣娇艳大奶美女丰乳翘臀惹火娇媚销魂性感写真</p>
                            </div><!--end:entry-content-->
                        </article><!--end:entry-item-->
                    </div><!--article-wrap-->
                    <div class="article-wrap">
                        <article class="entry-item box-hover clearfix">
                            <a href="/detail/073c85ef.html" target="_blank" title="比基尼热辣美女洗车">
                                <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/24/2233a4c0-d549-42_700x10000x1.jpg" alt="">
                            </a>
                            <div class="entry-content">
                                <h3 class="entry-title"><a href="#">比基尼热辣美女洗车</a></h3>
                                <p>比基尼热辣美女洗车 引市民围观</p>
                            </div><!--end:entry-content-->
                        </article><!--end:entry-item-->
                    </div><!--article-wrap-->
                    <div class="article-wrap">
                        <article class="entry-item box-hover clearfix">
                            <a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">
                                <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/24/6b4912a1-85e5-4f_700x10000x1.jpg" alt="">
                            </a>
                            <div class="entry-content">
                                <h3 class="entry-title"><a href="#">惹火销魂女神巨胸</a></h3>
                                <p>惹火销魂女神巨胸 让人瞬间窒息大奶销魂火辣诱惑写真</p>
                            </div><!--end:entry-content-->
                        </article><!--end:entry-item-->
                    </div><!--article-wrap-->
            </section>
        </div><!--end:primary-->
        <div class="secondary">
            <div id="top-sidebar">
                <section class="feature-widget">
                    <header>
                        <h6 class="feature-title">热点新闻</h6>
                    </header>
                    <div class="list-carousel responsive">
                        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 567px; height: 238px; margin: 0px; overflow: hidden;">
                            <ul class="feature-news clearfix" style="text-align: left; float: none; position: absolute; top: 0px; left: 0px; margin: 0px; width: 2079px; height: 238px;">
                                <!--右侧滑动热点 168*106-->
                                    <li style="width: 190px;">
                                        <article>
                                            <div class="feature-item clearfix">
                                                <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">
                                                    <img class="hover-effect responsive-img" alt="" src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg">
                                                </a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">川西长途试力帆X80</a></h4>
                                                    <p>顶配大七座不到15万 川西长途试力帆X80</p>
                                                </div><!--end:entry_content-->
                                            </div>
                                        </article>
                                    </li>
                                    <li style="width: 190px;">
                                        <article>
                                            <div class="feature-item clearfix">
                                                <a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">
                                                    <img class="hover-effect responsive-img" alt="" src="http://img.jsonyang.com/2017/08/14/b1f03e2c-ea31-41_700x10000x1.jpg">
                                                </a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></h4>
                                                    <p>乐视：贾跃亭把一切给了公司 所有债务一个人扛</p>
                                                </div><!--end:entry_content-->
                                            </div>
                                        </article>
                                    </li>
                                    <li style="width: 190px;">
                                        <article>
                                            <div class="feature-item clearfix">
                                                <a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">
                                                    <img class="hover-effect responsive-img" alt="" src="http://img.jsonyang.com/2017/08/14/e1f5424b-b2b2-44_700x10000x1.jpg">
                                                </a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></h4>
                                                    <p>英国女王计划95岁退休</p>
                                                </div><!--end:entry_content-->
                                            </div>
                                        </article>
                                    </li>
                                    <li style="width: 190px;">
                                        <article>
                                            <div class="feature-item clearfix">
                                                <a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">
                                                    <img class="hover-effect responsive-img" alt="" src="http://img.jsonyang.com/2017/08/18/66f118cf-ba99-43_700x10000x1.jpg">
                                                </a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="/detail/5247938e.html" target="_blank" title="富豪殴打区委书记真相">富豪殴打区委书记真相</a></h4>
                                                    <p>区委书记遭富豪殴打5天后已经上班 背后真相是啥</p>
                                                </div><!--end:entry_content-->
                                            </div>
                                        </article>
                                    </li>
                                    <li style="width: 190px;">
                                        <article>
                                            <div class="feature-item clearfix">
                                                <a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">
                                                    <img class="hover-effect responsive-img" alt="" src="http://img.jsonyang.com/2017/08/14/5ee9ead9-26bb-4a_700x10000x1.jpg">
                                                </a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="/detail/5f7771b0.html" target="_blank" title="习近平带领我们走过的这不平凡五年">习近平带领我们走过的这不平凡五年</a></h4>
                                                    <p>习近平带领我们走过的这不平凡五年</p>
                                                </div><!--end:entry_content-->
                                            </div>
                                        </article>
                                    </li>
                                    <li style="width: 190px;">
                                        <article>
                                            <div class="feature-item clearfix">
                                                <a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">
                                                    <img class="hover-effect responsive-img" alt="" src="http://img.jsonyang.com/2017/08/24/6b4912a1-85e5-4f_700x10000x1.jpg">
                                                </a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="/detail/b94c2872.html" target="_blank" title="惹火销魂女神巨胸">惹火销魂女神巨胸</a></h4>
                                                    <p>惹火销魂女神巨胸 让人瞬间窒息大奶销魂火辣诱惑写真</p>
                                                </div><!--end:entry_content-->
                                            </div>
                                        </article>
                                    </li>
                            </ul>
                        </div><!--end:feature-news-->
                        <div class="clear"></div>
                        <div class="feature-nav">
                            <a id="prev-1" class="prev" href="#" style="display: block;">&nbsp;</a>
                            <a id="next-1" class="next" href="#" style="display: block;">&nbsp;</a>
                        </div><!--feature-nav-->
                    </div><!--end:list-carousel-->
                </section><!--end:feature-widget-->
            </div>
            <!--中间块-->
            <div class="sidebar" id="sidebar-a">

                <aside class="widget box-hover" style="width: 284px;">
                    <header class="entry-header">
                        <a href="/list/1.html" target="_blank"><h4 class="widget-title clearfix"><span>要闻</span></h4></a>
                    </header>

                    <!--文-->
                    <ul class="older-posts">

                    </ul>
                </aside>

                <aside class="widget box-hover" style="width: 284px;">
                    <header class="entry-header">
                        <a href="/list/23.html" target="_blank"><h4 class="widget-title clearfix"><span>旅游</span></h4></a>
                    </header>
                            <!--图-->
                            <article class="entry-box clearfix">
                                <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" alt="" style="opacity:1;">
                                <div class="entry-content">
                                    <h3 class="entry-title"><a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">川西长途试力帆X80</a></h3>
                                    <p>顶配大七座不到15万 川西长途试力帆X80</p>
                                </div>
                            </article>

                    <!--文-->
                    <ul class="older-posts">
                                <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></li>
                                <li><a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a></li>

                    </ul>
                </aside>

                <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 350px;">
                    <aside class="widget box-hover a-last-widget" style="width: 284px;">
                        <div class="acc-wrapper">
                            <div class="accordion-title active">
                                <h6><a href="/list/7.html" target="_blank">美女</a></h6>
                            </div>
                            <div class="accordion-container" style="display: block;">
                                <ul>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" alt="">
                                                    <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">川西长途试力帆X80</a>
                                                </article>
                                            </li>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/b1f03e2c-ea31-41_700x10000x1.jpg" alt="">
                                                    <a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a>
                                                </article>
                                            </li>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/e1f5424b-b2b2-44_700x10000x1.jpg" alt="">
                                                    <a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a>
                                                </article>
                                            </li>

                                </ul>
                            </div>
                            <div class="accordion-title">
                                <h6><a href="/list/8.html" target="_blank">社会</a></h6>
                            </div>
                            <div class="accordion-container" style="display: none;">
                                <ul>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" alt="">
                                                    <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">川西长途试力帆X80</a>
                                                </article>
                                            </li>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/b1f03e2c-ea31-41_700x10000x1.jpg" alt="">
                                                    <a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a>
                                                </article>
                                            </li>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/e1f5424b-b2b2-44_700x10000x1.jpg" alt="">
                                                    <a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a>
                                                </article>
                                            </li>

                                </ul>
                            </div>
                            <div class="accordion-title">
                                <h6><a href="/list/9.html" target="_blank">汽车</a></h6>
                            </div>
                            <div class="accordion-container" style="display: none;">
                                <ul>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" alt="">
                                                    <a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">川西长途试力帆X80</a>
                                                </article>
                                            </li>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/b1f03e2c-ea31-41_700x10000x1.jpg" alt="">
                                                    <a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a>
                                                </article>
                                            </li>
                                            <!--图 62*46-->
                                            <li>
                                                <article class="clearfix">
                                                    <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/e1f5424b-b2b2-44_700x10000x1.jpg" alt="">
                                                    <a href="/detail/5663a04c.html" target="_blank" title="英国女王计划95岁退休">英国女王计划95岁退休</a>
                                                </article>
                                            </li>

                                </ul>
                            </div>
                        </div><!--end:acc-wrapper-->
                    </aside>
                </div><!--end:widget-->
                <div class="clear"></div>
            </div>
            <!--右侧块-->
            <div id="sidebar-b" class="sidebar">
                <aside class="widget box-hover" style="width: 284px;">
                    <header class="entry-header">
                        <a href="/list/13.html" target="_blank"><h4 class="widget-title clearfix"><span>两性</span></h4></a>
                    </header>
                            <!--图 244*117-->
                            <article class="entry-box clearfix">
                                <img class="hover-effect responsive-img" src="http://img.jsonyang.com/2017/08/14/43785560-91c4-44_700x10000x1.jpg" alt="" style="opacity:1;">
                                <div class="entry-content">
                                    <h3 class="entry-title"><a href="/detail/e65ee665.html" target="_blank" title="川西长途试力帆X80">川西长途试力帆X80</a></h3>
                                    <p>顶配大七座不到15万 川西长途试力帆X80</p>
                                </div>
                            </article>

                    <!--文-->
                    <ul class="older-posts">
                                <li><a href="/detail/99853f87.html" target="_blank" title="贾跃亭把一切给了公司">贾跃亭把一切给了公司</a></li>

                    </ul>
                </aside>

                <!--广告位-->
                <aside class="widget box-hover" style="width: 284px;">
                    <header class="entry-header">
                        <h4 class="widget-title">招商</h4>
                    </header>
                </aside>
                <aside class="widget box-hover" style="width: 284px;">
                    <div class="adv-125-125 clearfix">
                        <a href="#"><img class="hover-effect responsive-img" alt="" src="/Content/Bootstrap/placeholders/125x125/sample-ad-1.jpg"></a>
                        <a href="#"><img class="hover-effect responsive-img" alt="" src="/Content/Bootstrap/placeholders/125x125/sample-ad-1.jpg"></a>
                        <a href="#"><img class="hover-effect responsive-img" alt="" src="/Content/Bootstrap/placeholders/125x125/sample-ad-1.jpg"></a>
                        <a href="#"><img class="hover-effect responsive-img" alt="" src="/Content/Bootstrap/placeholders/125x125/sample-ad-1.jpg"></a>
                    </div>
                </aside>

                <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 430px;">
                    <aside class="widget box-hover b-last-widget" style="width: 284px;">
                        <header class="entry-header">
                            <a href="/list/21.html" target="_blank"><h4 class="widget-title clearfix"><span>奇闻</span></h4></a>
                        </header>

                        <!--文-->
                        <ul class="older-posts">

                        </ul>

                    </aside>
                </div><!--end:widget-->
                <div class="clear"></div>
            </div><!--end:sidebar-->
            <div class="clear"></div>
        </div><!--end:secondary-->
        <div class="clear"></div>

        <!--首页底部广告-->
        <div id="footer-aside" class="box-hover">
            <div class="friendNav">
                <span>友情链接</span>
            </div>
            <aside class="widget">
                <div class="adv-footer" style="text-align:left;">
                    
                    <a class="banner-bottom-left" title="神读阁" target="_blank" href="http://www.shenduge.com"><img class="hover-effect responsive-img ml-10" src="/Content/FriendLinks/shenduge2.png" alt="" style="opacity: 1;"></a>
                    <a class="banner-bottom-left" title="宇扬小说网" target="_blank" href="http://xs.jsonyang.com"><img class="hover-effect responsive-img ml-10" src="/Content/FriendLinks/yuyangxiaoshuo.png" alt="" style="opacity: 1;"></a>
                </div><!--end:adv-footer-->
                <div class="clear"></div>
            </aside>
        </div>

        <!--底部-->
<footer>
    <div class="wrapper clearfix">
        <p id="copyrights">Copyright @@2018-2019  <a href="http://www.jsonyang.com/" target="_blank" title="宇扬网"> 宇扬网 </a>   分享技术和生活 
  <a href="http://www.miitbeian.gov.cn" title="粤ICP备15008454号-1" target="_blank">粤ICP备15008454号</a></p>
        <a id="scroll-to-top" href="#top">Back to top</a>
    </div>
</footer>

    </div>
