<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVideosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65398/VideosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVideosService"
                contract="VideosService.IVideosService" name="BasicHttpBinding_IVideosService" />
        </client>
    </system.serviceModel>
</configuration>