<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="SiteBinding_IVideosService">
                    <security mode="None">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65398/VideosService.svc"
                binding="wsHttpBinding" bindingConfiguration="SiteBinding_IVideosService"
                contract="VideosService.IVideosService" name="SiteBinding_IVideosService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>