@{
    ViewBag.Title = "PermissionAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiteFrame.Model;
@section head{
    <script src="/Dialog/jquery.artDialog.source.js"></script>
    <script src="/Dialog/plugins/iframeTools.source.js"></script>
    <link href="/Dialog/skins/blue.css" rel="stylesheet" />
    <script src="/JS/mDialogV2.js"></script>

    <script type="text/javascript">
        var querys = { page: 1, pagesize: 3 };
        $(function () {

            $("#btn_search").button({
                icons: {
                    primary: "ui-icon-search"
                }
            });
            $("#btn_search_all").button({
                icons: {
                    primary: "ui-icon-search"
                }
            });
            $("#btn_add").button({
                icons: {
                    primary: "ui-icon-plus"
                }
            });
            $(window).resize(function () {
                //变化div高度
                var H = $(window).height();
                $("#div_roleList").height(H - 5);
                if ($("#div_moduleList").length > 0) {
                    $("#div_moduleList").height(H - 5);
                    $("#div_perList").height(H - 5);
                }

            });

            LoadList();
        });

        function LoadList() {
            LoadRoleList();
        }

        //加载角色列表
        function LoadRoleList() {
            mDialogUI.loading("加载数据中");
            $.ajax({
                url: "/System/PermissionAssignListView",
                type: "get",
                dataType: "html",
                cache: false,
                data: querys,
                success: function (html) {
                    mDialogUI.closeLoading();
                    $("#div_roleList").html(html);
                    $("#div_roleList").height(currentWHeight - 5);
                },
                error: function (xhr, xhrText, error) {
                    mDialogUI.closeLoading();
                    mDialogUI.errorMessage("错误：" + error, "错误", 200, 70);
                }
            });
        }

        //加载模块列表
        function LoadModuleList(ruid) {
            querys.ruid = ruid;
            mDialogUI.loading("加载数据中");
            $.ajax({
                url: "/System/PerModuleListView",
                type: "get",
                dataType: "html",
                cache: false,
                data: querys,
                success: function (html) {
                    mDialogUI.closeLoading();
                    clearDiv();
                    $("#div_list").append(html);
                    //设置高度
                    $("#div_moduleList").height(currentWHeight - 5);
                    $("#div_perList").height(currentWHeight - 5);
                },
                error: function (xhr, xhrText, error) {
                    mDialogUI.closeLoading();
                    mDialogUI.errorMessage("错误：" + error, "错误", 200, 70);
                }
            });
        }

        //加载权限列表
        function LoadPerList(m_gid, ruid) {
            mDialogUI.loading("加载数据中");
            $.ajax({
                url: "/System/PerListView",
                type: "get",
                dataType: "html",
                cache: false,
                data: { m_gid: m_gid, ruid: ruid },
                success: function (html) {
                    mDialogUI.closeLoading();
                    $("#div_perList").html(html);
                },
                error: function (xhr, xhrText, error) {
                    mDialogUI.closeLoading();
                    mDialogUI.errorMessage("错误：" + error, "错误", 200, 70);
                }
            });
        };

        function clearDiv() {
            if ($("#div_moduleList").length > 0) {
                $("#div_moduleList").remove();
            }

            if ($("#div_perList").length > 0) {
                $("#div_perList").remove();
            }
        }

    </script>
}



<div class="container">
    <div style="width: 100%;" id="div_list">
        <div id="div_roleList" style="width: 34%; border-right: 5px solid rgb(121, 151, 165); float: left;">
            <div>正在加载中....</div>
        </div>
    </div>
</div>
