@{
    ViewBag.Title = "UserRoleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiteFrame.Model;
@{
    Dictionary<Role, bool> rbDic = ViewBag.rbDic;
    string u_gid = ViewBag.u_gid;
 }
<script type="text/javascript">
    $(function () {
        $(".tableClass tr").mouseenter(function () {
            $(this).addClass("mouseOver");
        }).mouseleave(function () {
            $(this).removeClass("mouseOver");
        });

        $("#preTabList span[id^='lab_']").click(function () {
            var _id = $(this).attr("val");
            var _inp = $("#chk_" + _id);
            _inp.click();
        });

        $("#preTabList tr td input[type='checkbox']").click(function () {
            var _lab = $(this).next("span");
            _lab.toggleClass("red");
            var _id = _lab.attr("val");
            var rgid = _lab.attr("rgid");
            var _val = $(this).is(":checked") == true ? 1 : 0;// 取选中后的值
            opraterPer('@u_gid', rgid, _val);

        });

        function opraterPer(ugid, rgid, oType) {
            var data = {
                ugid: ugid,
                rgid: rgid,
                oType: oType
            };
            mDialogUI.loading("处理中...");
            $.ajax({
                url: "/System/UserRoleOperation",
                type: "post",
                dataType: "json",
                cache: false,
                data: data,
                success: function (json) {
                    mDialogUI.closeLoading();
                    if (json.success) {
                        mDialogUI.successMessage(json.errors.text, "成功", 180, 70, 2);
                    }
                    else {
                        mDialogUI.errorMessage(json.errors.text, "失败", 180, 70, 2);
                    }
                },
                error: function (xhr, xhrText, error) {
                    mDialogUI.closeLoading();
                    mDialogUI.errorMessage(error, "错误", 200, 70);
                }
            });
        }
    })
</script>


<div style="overflow-y: visible;">

    <table class="tableClass" id="preTabList">
        @if (rbDic.Count > 0)
        {   
            foreach (KeyValuePair<Role, bool> item in rbDic)
            {
                <tr>
                    <td>
                        <input type="checkbox" @{if (item.Value) { <text> checked="checked" </text>   }} id="chk_@item.Key.r_id" name="chk_@item.Key.r_id" value="@item.Key.r_gid" />
                        <span style="cursor:pointer;" @{if (item.Value) { <text> class="red" </text>   }} id="lab_@item.Key.r_id" val="@item.Key.r_id" rgid="@item.Key.r_gid" for="chk_@item.Key.r_id">@item.Key.r_name</span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td style="text-align: center" colspan="2">暂无任何角色</td>
            </tr>
        }
    </table>
</div>
