<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SiteBinding_ISiteService">
          <security mode="None"/>
        </binding>
        <binding name="PublishBinding_IPublishPageService">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8889/SiteService.svc" binding="wsHttpBinding" bindingConfiguration="SiteBinding_ISiteService" contract="SiteServices.ISiteService" name="SiteBinding_ISiteService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8891/PublishPageService.svc" binding="wsHttpBinding" bindingConfiguration="PublishBinding_IPublishPageService" contract="PublishPageService.IPublishPageService" name="PublishBinding_IPublishPageService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
