<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <!--错误日志配置-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\\yang.liao\\log\\Error\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaxFileSize" value="10240" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd.'log'" />
      <param name="RollingStyle" value="Date" />
      <param name="BufferSize" value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m %n " />
      </layout>
    </appender>

    <!--登录日志配置-->
    <appender name="LoginAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\\yang.liao\\Log\\Login\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd.'log'" />
      <param name="RollingStyle" value="Date" />
      <param name="BufferSize" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n%m %n" />
      </layout>
    </appender>

    <!--浏览日志配置-->
    <appender name="VisitsAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\\yang.liao\\Log\\Visits\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd.'log'" />
      <param name="RollingStyle" value="Date" />
      <param name="BufferSize" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n%m %n" />
      </layout>
    </appender>



    <!--log4net.LogManager.GetLogger("error")用这个来选择这种类型-->
    <logger name="error" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="login" additivity="false">
      <level value="INFO" />
      <appender-ref ref="LoginAppender" />
    </logger>
    <logger name="visits" additivity="false">
      <level value="INFO" />
      <appender-ref ref="VisitsAppender" />
    </logger>

    <root>
      <level value="INFO" />
      <appender-ref ref="VisitsAppender" />
    </root>
  </log4net>
  
</configuration>