<?xml version="1.0" encoding="utf-8" ?>
<lucenepath>
  <path id="1" name="SitePath" path="D:\\lucenePath\\SitePath\\" class="TestLucene" autostart="0" isStarted="0" />
  <path id="2" name="SitePathTow" path="D:\\lucenePath\\SitePathTow\\" class="TestLuceneTow" autostart="0" isStarted="0" />
  <path id="3" name="SitePath" path="D:\\lucenePath\\SitePath\\" class="TestLucene" autostart="0" isStarted="0" />
  <path id="4" name="SitePath" path="D:\\lucenePath\\SitePath\\" class="TestLucene" autostart="0" isStarted="0" />
  <path id="5" name="SitePath" path="D:\\lucenePath\\SitePath\\" class="TestLucene" autostart="0" isStarted="0" />
  
</lucenepath>